<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <title>Banco de los Andes</title>
</head>
<body>
    <div class="container">
        <h1 class="text-center">Banco de los Andes</h1>
        <div>
            <a class="btn btn-primary btn-block" th:href="@{/clientes}">Clientes</a>
            <a class="btn btn-primary btn-block" th:href="@{/cuentas}">Cuentas</a>
        </div>
    </div>
</body>
</html>